
                <table class="table table-striped" style="width: 760px;">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Номер пакета</th> 
                            <th>Состав пакета</th>  
                            <th>Цена пакета&nbsp&nbsp&nbsp&nbsp&nbsp</th>                   
                            <th style="width: 100px;">Выбрать</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Пакет 1</td>
                            <td>Завтрак, второй завтрак, обед, полдник и ужин</td>
                            <td><%= Praise1 %></td>
                            <td><div class=&nbsp"checkbox"> <input type="checkbox">  </div></td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Пакет 2</td>
                            <td>Завтрак</td>
                            <td><%= Praise2 %></td>
                            <td><div class=&nbsp"checkbox"> <input type="checkbox">  </div></td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Пакет 3</td>
                            <td>Ужин</td>
                            <td><%= Praise3 %></td>
                            <td><div class=&nbsp"checkbox"> <input type="checkbox">  </div></td>
                        </tr>
                            <th scope="row">4</th>
                            <td>Пакет 4</td>
                            <td>Второй завтрак, обед, полдник, ужин</td>
                            <td><%= Praise4 %></td>
                            <td><div class=&nbsp"checkbox"> <input type="checkbox">  </div></td>
                        </tr>
                            <th scope="row">5</th>
                            <td>Пакет 5</td>
                            <td>Второй завтрак, обед, полдник </td>
                            <td><%= Praise5 %></td>
                            <td><div class=&nbsp"checkbox"> <input type="checkbox"> </div></td>
                        </tr>
                            <th scope="row">6</th>
                            <td>Пакет 6</td>
                            <td>Второй завтрак, обед</td>
                            <td><%= Praise6 %></td>
                            <td><div class=&nbsp"checkbox"> <input type="checkbox">  </div></td>
                        </tr>
                            <th scope="row">7</th>
                            <td>Пакет 7</td>
                            <td>Второй завтрак</td>
                            <td><%= Praise7 %></td>
                            <td><div class=&nbsp"checkbox"> <input type="checkbox">  </div></td>
                        </tr>
                            <th scope="row">8</th>
                            <td>Пакет 8</td>
                            <td>Обед</td>
                            <td><%= Praise8 %></td>
                            <td><div class=&nbsp"checkbox"> <input type="checkbox">  </div></td>
                        </tr>
                            <th scope="row">9</th>
                            <td>Пакет 9</td>
                            <td>Обед</td>
                            <td><%= Praise9 %></td>
                            <td><div class=&nbsp"checkbox"> <input type="checkbox">  </div></td>
                        </tr>
                            <th scope="row">10</th>
                            <td>Пакет 10</td>
                            <td>Полдник</td>
                            <td><%= Praise10 %></td>
                            <td><div class=&nbsp"checkbox"> <input type="checkbox">  </div></td>
                        </tr>
                    </tbody>
                </table>
                